<h1>Welcome to page for <%= @article.title %></h1>
<p><%= @article.body %></p>
<%= button_to "Destroy Article", article_path(@article), method: :delete  , data: { turbo_confirm: "Are you certain to delete?"}  %>